<div class="login-student">
    <form [formGroup]="loginStudentFg">
        <h2>Login Student</h2>
        <mat-form-field appearance="outline">
            <mat-label>National Code</mat-label>
            <input type="text" formControlName="nationalCode" placeholder="Enter your National Code" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>PassWord</mat-label>
            <input type="text" formControlName="passWord" placeholder="Enter your passWord" matInput>
        </mat-form-field>

        <button type="submit" (click)="loginStudent()" [disabled]="loginStudentFg.invalid" mat-raised-button color="primary">
            Register
        </button>
        <button (click)="clearForm()" [disabled]="loginStudentFg.pristine" mat-raised-button color="warn">Clear</button>
    </form>
</div>
