<div class="admin-profile">
    <a routerLink="admin-profile">Admin Profile </a>
    <div class="button">
        <button routerLink="list-students" mat-raised-button color="primary">Register President</button>
        <button routerLink="list-staffs" mat-raised-button color="primary">Add Vote</button>
        <!--<button routerLink="admin-profile" mat-raised-button color="primary"></button>!-->
        <button routerLink="home" mat-raised-button color="primary">Home Page</button>
        <button routerLink="list-class" mat-raised-button color="primary">List Classes</button>
        <button routerLink="list-academic-month" mat-raised-button color="primary">List Academic Month</button>
    </div>
</div>