<!--<form [formGroup]="adminFg">
    <h2>Register Admin</h2>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" placeholder="Enter your Email" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>PassWord</mat-label>
        <input type="text" formControlName="passWord" placeholder="Enter your PassWord" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Confirm PassWord</mat-label>
        <input type="text" formControlName="confirmPassword" placeholder="Enter the correct Password again" matInput>
    </mat-form-field>

    <button type="submit" (click)="registerAdmin()" [disabled]="adminFg.invalid" mat-raised-button color="primary">
        Register
    </button>
    <button (click)="clearForm()" [disabled]="adminFg.pristine" mat-raised-button color="warn">Clear</button>
</form>
!-->